body {
    font-family: Arial, sans-serif;
    background-color: #104b53;
    margin: 0;
    padding: 0;
  }
  

  .main {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

  h2 {
    text-align: center;
    color: #333;
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #04ff96;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  }

  tr:nth-child(1) {
    background-color: #333;

  }
  
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  tr:nth-child(odd) {
    background-color:  #fad9b8;
  }
  
  button {
  background-color: #36c971;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

button:hover {
  background-color: #007722;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer a {
  
  margin: 0 10px;
  font-size: 20px;
}