table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 24px;
}

#footer2 {
    margin-top: 10px;
}