body {
  background: #104b53;
}

.página-de-inicio {
  max-width: 360px;
  margin: auto;
  padding: 8% 0 100px;
}

.formulario {
  background: #d99b5e ;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario input, 
.formulario button {
  width: 100%;
  border: 0;
  margin-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario input {
  background: #fad9b8 ;
}

.formulario button {
  text-transform: uppercase;
  background: #3ee143;
  color: #fff;
  cursor: pointer;
}

.formulario button:hover, 
.formulario button:active, 
.formulario button:focus {
  background: #43A047;
}

.formulario .mensaje {
  margin-top: 15px;
  color: #000000;
  font-size: 12px;
}

.formulario .mensaje a {
  color: #4CAF50;
  text-decoration: none;
}

.formulario .formulario-de-registro {
  display: none;
}


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer a {
  color: #fff;
  margin: 0 10px;
  font-size: 20px;
}
.redes {
  color: #ffffff;
}
